*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Logo{
    font-size: 34px;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}

.header{
    width: 100% !important;
    height: 20%;
}